PyYAML
quantum_linear_solvers @ git+https://github.com/agallojr/quantum_linear_solvers

qiskit>=1.0
qiskit-aer                    
qiskit-algorithms             
qiskit-ibm-runtime            
qiskit-qasm3-import   

iqm-client[qiskit]

jupyterlab
matplotlib
python-dotenv

